version: '2'

services:
  elasticsearch:
    image: elasticsearch:2.3.4
    ports:
      - 9200:9200

  kibana:
    image: kibana:4.5.2
    ports:
      - 5601:5601
    links:
      - elasticsearch
    depends_on:
      - elasticsearch
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200

  logstash:
    image: logstash
    build: logstash
    links:
      - elasticsearch
    volumes:
      - ./logstash:/config-dir
    ports:
      - 5960:5960
